{% extends "layouts/main.html" %}

{% block pageTitle %}
  View Service – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukNotificationBanner({
        html: "Your service has been created successfully",
        type: "success"
      }) }}
      <h1 class="govuk-heading-l">View Client Details</h1>
      {{govukSummaryList({
        card: {
          title: {
            text: "Core fields"
          }
        },
        firstCellIsHeader: true,
        head: [],
        rows: [
          { 
            key: {
              text: "Client Name"
            },
            value: {
              text: "My Custom Client"
            }
          },
          {
            key: {
              text: "Client ID"
            },
            value: {
              text: "abcd1234"
            }
          },
          {
            key: {
              text: "Scopes"
            },
            value: {
              html: "openid<br/>email"
            }
          },
          {
            key: {
              text: "Redirect URLs"
            },
            value: {
              html: "http://example1.com<br/>http://example2.com<br/>http://example3.com"
            }
          },
          {
            key: {
              text: "Token Authentication Method"
            },
            value: {
              text: "Private key JWT"
            }
          },
          {
            key: {
              text: "Public key type"
            },
            value: {
              text: "JWKS"
            }
          },
          {
            key: {
              text: "JWKS URL"
            },
            value: {
              text: "http://example.com/.well-known/jwks.json"
            }
          },
          {
            key: {
              text: "ID Token Signing Algorithm"
            },
            value: {
              text: "RS256"
            }
          },
          {
            key: {
              text: "Sector Identifier URI"
            },
            value: {
              text: "http://example.com"
            }
          },
          {
            key: {
              text: "Is Active"
            },
            value: {
              text: "true"
            }
          }
        ]
      })}}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Identity fields"
          }
        },
        firstCellIsHeader: true,
        head: [],
        rows: [
          {
            key: {
              text: "Identity Verification Supported"
            },
            value: {
              text: "true"
            }
          },
          {
            key: {
              text: "Claims"
            },
            value: {
              html: "https://vocab.account.gov.uk/v1/passport<br>https://vocab.account.gov.uk/v1/coreIdentityJWT<br>https://vocab.account.gov.uk/v1/address<br>https://vocab.account.gov.uk/v1/drivingPermit"
            }
          },
          {
            key: {
              text: "Landing Page URL"
            },
            value: {
              text: "http://example.com"
            }
          },
          {
            key: {
              text: "Level of Confidence values"
            },
            value: {
              html: "P1<br>P2"
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Additional fields"
          }
        },
        firstCellIsHeader: true,
        head: [],
        rows: [
          {
            key: {
              text: "Contacts"
            },
            value: {
              html: "person1@email.com<br/>person2@email.com"
            }
          },
          {
            key: {
              text: "Post Logout Redirect URLs"
            },
            value: {
              html: "http://example1.com<br/>http://example2.com<br/>http://example3.com"
            }
          },
          {
            key: {
              text: "Back Channel Logout URLs"
            },
            value: {
              html: "http://example1.com<br/>http://example2.com<br/>http://example3.com"
            }
          },
          {
            key: {
              text: "Service Type"
            },
            value: {
              text: "MANDATORY"
            }
          },
          {
            key: {
              text: "JAR Validation Required"
            },
            value: {
              text: "true"
            }
          },
          {
            key: {
              text: "Channel"
            },
            value: {
              text: "web"
            }
          },
          {
            key: {
              text: "PKCE Enforced"
            },
            value: {
              text: "true"
            }
          },
          {
            key: {
              text: "Max Age Enabled"
            },
            value: {
              text: "true"
            }
          },
          {
            key: {
              text: "Permit missing nonce"
            },
            value: {
              text: "true"
            }
          },
          {
            key: {
              text: "Rate limit"
            },
            value: {
              text: "2000 per minute"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Edit",
        classes: "govuk-button--secondary",
        href: "/view-client/edit-all-details-with-sections-validation"
      }) }}
{% endblock %}