{% extends "layouts/main.html" %}

{% block pageTitle %}
  Client created – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Client created",
      html: "Your client ID<br><strong>abcd1234</strong>"
    }) }}

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">Your integration client has been created. You can now view and edit its configuration from your service page.</p>

    {{ govukButton({
      text: "Back to service",
      href: "/services/register-trainee-teachers"
    }) }}

  </div>
</div>
{% endblock %}
