{% extends "layouts/main.html" %}

{% set pageName = "Go live with GOV.UK One Login – " + service.name %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: "Prototype" },
    html: 'This is a prototype. Your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
  }) }}
  {{ govukBreadcrumbs({
    items: [
      { text: "Your services", href: "/services" },
      { text: service.name, href: "/services/" + service.id },
      { text: "Go live with GOV.UK One Login" }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {% set activePage = 'request-go-live' %}
      {% include "services/_side-nav.html" %}
    </div>
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Go live with GOV.UK One Login</h1>

      <p class="govuk-body">To go live, get in touch with your Engagement Manager and they will guide you through the process. If you do not have an Engagement Manager, complete the form to <a href="#" class="govuk-link">register your interest</a> and we'll support you with integrating to the production environment.</p>

    </div>
  </div>
{% endblock %}
