{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/new-user/services/view-service" method="post">
      {{ govukInput({
        label: {
          text: "What is the name of your service?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "This is the name users will see when they log in to GOV.UK One Login. For example, 'Apply for a passport'."
        },
        id: "service",
        name: "service"
      }) }}

      {{ govukTextarea({
        label: {
          text: "Describe your service",
          classes: "govuk-label--m"
        },
        hint: {
          text: "Describe what users can do when they access this service."
        },
        id: "service-description",
        name: "service-description"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}