{% extends "layouts/main.html" %}

{% set pageName = "Clients claimed" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Clients claimed"
      }) }}

      <h2 class="govuk-heading-m">Clients added to {{ serviceName }}</h2>

      {% set tableRows = [] %}
      {% for client in claimedClients %}
        {% set tableRows = (tableRows.push([{ text: client.clientName }, { html: '<code class="app-code">' + client.clientId + '</code>' }]), tableRows) %}
      {% endfor %}

      {{ govukTable({
        head: [
          { text: "Client name" },
          { text: "Client ID" }
        ],
        rows: tableRows
      }) if claimedClients.length > 0 }}

      {{ govukButton({
        text: "Go to your service",
        href: "/new-user/services/view-service"
      }) }}

    </div>
  </div>
{% endblock %}
