{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/create-service-identity-flow/select-claims"method="post">
        <h1 class="govuk-heading-l">
          Is your service using identity verification?
        </h1>

        <p class="govuk-body">
          This will require:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>claims your service requires</li>
          <li>required levels of confidence</li>
          <li>landing page url</li>
        </ul>
        <p class="govuk-body">
          This can be added/changed after your service is created. This cannot be used injuction with client secret.
        </p>

        {{ govukRadios({
          name: "identity-verification-supported",
          items: [
            {
              value: "true",
              text: "Yes"
            },
            {
              value: "false",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
