{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/create-service-identity-flow/confirm"method="post">

        {{ govukCheckboxes({
          name: "selectedLoCs",
          fieldset: {
            legend: {
              text: "Which level(s) of confidence does your service require?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: 'Select all that apply.'
          },
          items: [
            {
              value: "P0",
              text: "P0 (No confidence)"
            },
            {
              value: "P1 ",
              text: "P1 (Low confidence)"
            },
            {
              value: "P2",
              text: "P2 (Medium confidence)"
            },
            {
              value: "P3",
              text: "P3 (High confidence) "
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        <p><a href="https://docs.sign-in.service.gov.uk/before-integrating/choose-the-level-of-identity-confidence/#choose-the-level-of-identity-confidence-for-your-service" class="govuk-link" rel="noreferrer noopener" target="_blank">Get guidance on selecting levels of confidence (opens in a new tab)</a></p>

      </form>

    </div>
  </div>

{% endblock %}
