{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/view-service/edit-all-details-with-sections-validation"method="post">

        <h1 class="govuk-heading-l">
          JAR Validation
        </h1>

        {{ govukWarningText({
          text: "If set to false, even if you send JAR malicious party could send query params",
          iconFallbackText: "Warning"
        }) }}

        {{ govukRadios({
          name: "jar-validation-required",
          fieldset: {
            legend: {
              text: "Does your service require JAR validation?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "true",
              text: "Yes"
            },
            {
              value: "false",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Confirm"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
