{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/view-service/edit-all-details-with-sections-validation"method="post">

        {{ govukCheckboxes({
          name: "selectedLoCs",
          fieldset: {
            legend: {
              text: "Which level(s) of confidence does your service require?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: 'Select all that apply. <a href="https://docs.sign-in.service.gov.uk/before-integrating/choose-the-level-of-identity-confidence/#choose-the-level-of-identity-confidence-for-your-service" class="govuk-link">Read about levels of confidence</a>.'
          },
          items: [
            {
              value: "p0",
              text: "P0 (No confidence)"
            },
            {
              value: "p1",
              text: "P1 (Low confidence)"
            },
            {
              value: "p2",
              text: "P2 (Medium confidence)"
            },
            {
              value: "p3",
              text: "P3 (High confidence) "
            }
          ]
        }) }}

        {{ govukButton({
          text: "Confirm"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
