{% extends "layouts/main.html" %}

{% block pageTitle %}
  View all services – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "View all services"
    }
  ]
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Production services
        </h1>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Prod Service
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="/view-service/view-all-details-with-sections-cards">View<span class="govuk-visually-hidden">Prod Service</span></a>
              </li>
            </ul>
          </div>
        </div>

          <h1 class="govuk-heading-l">
            Integration services
          </h1>

          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Integration Service 1
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="/view-service/view-all-details-with-sections-cards">View<span class="govuk-visually-hidden">Prod Service</span></a>
                </li>
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="/view-service/edit-all-details-with-sections-validation">Edit<span class="govuk-visually-hidden">Prod Service</span></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Integration Service 2
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="/view-service/view-all-details-with-sections-cards">View<span class="govuk-visually-hidden">Prod Service</span></a>
                </li>
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="/view-service/edit-all-details-with-sections-validation">Edit<span class="govuk-visually-hidden">Prod Service</span></a>
                </li>
              </ul>
            </div>
          </div>

        {{ govukButton({
            text: "Add a new service",
            href: "/create-service-key-warning/start-page"
        }) }}    
    </div>
</div>    
{% endblock %}