{% extends "layouts/main.html" %}

{% block pageTitle %}
  View all services – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ super() }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "View all services"
    }
  ]
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
        View all services
        </h1>

        {{ govukSummaryList({
            card: {
              title: {
                text: "Prod Service"
              },
              actions: {
                items: [
                  { 
                    html: '<strong class="govuk-tag govuk-tag--red">Production</strong>'
                  },
                  {
                    href: "/view-service/view-all-details-with-sections-cards",
                    text: "View"
                  }
                ]
              }
            },
            rows: [
                {
                  key: {
                    text: "Is active"
                  },
                  value: {
                    text: "Yes"
                  }
                },
                {
                  key: {
                    text: "Identity supported"
                  },
                  value: {
                    text: "No"
                  }
                }
            ]
          }) }}

          {{ govukSummaryList({
            card: {
              title: {
                text: "Integration Service 1"
              },
              actions: {
                items: [
                  { 
                    html: '<strong class="govuk-tag govuk-tag--blue">Integration</strong>'
                  },
                  {
                    href: "/view-service/edit-all-details-with-sections-cards",
                    text: "View"
                  },
                  {
                    href: "/view-service/edit-all-details-with-sections-validation",
                    text: "Edit"
                  }
                ]
              }
            },
            rows: [
                {
                  key: {
                    text: "Is active"
                  },
                  value: {
                    text: "Yes"
                  }
                },
                {
                  key: {
                    text: "Identity supported"
                  },
                  value: {
                    text: "Yes"
                  }
                }
            ]
          }) }}

          {{ govukSummaryList({
            card: {
              title: {
                text: "Integration Service 2"
              },
              actions: {
                items: [
                  { 
                    html: '<strong class="govuk-tag govuk-tag--blue">Integration</strong>'
                  },
                  {
                    href: "/view-service/edit-all-details-with-sections-cards",
                    text: "View"
                  },
                  {
                    href: "/view-service/edit-all-details-with-sections-validation",
                    text: "Edit"
                  }
                ]
              }
            },
            rows: [
                {
                  key: {
                    text: "Is active"
                  },
                  value: {
                    text: "No"
                  }
                },
                {
                  key: {
                    text: "Identity supported"
                  },
                  value: {
                    text: "No"
                  }
                }
            ]
          }) }}
        {{ govukButton({
            text: "Add a new service",
            href: "/create-service-key-warning/start-page"
        }) }}    
    </div>
</div>    
{% endblock %}