{% extends "layouts/main.html" %}

{% set pageName = "How do you want to authenticate?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/services/{{ serviceId }}/add-client/redirect-urls" method="post">

        {% if copiedFrom %}
          {{ govukInsetText({
            text: "Configuration has been copied from " + copiedFrom + ". Change any values you need to."
          }) }}
        {% endif %}

        <h1 class="govuk-heading-l">How do you want to authenticate?</h1>

        {% set jwksEndpointHtml %}
          {{ govukInput({
            id: "add-client-jwks-endpoint",
            name: "add-client-jwks-endpoint",
            spellcheck: false,
            classes: "govuk-!-width-full",
            label: {
              text: "JWKS endpoint URL"
            },
            value: data['add-client-jwks-endpoint']
          }) }}
        {% endset %}

        {% set staticKeyHtml %}
          {{ govukInput({
            id: "add-client-static-key",
            name: "add-client-static-key",
            spellcheck: false,
            classes: "govuk-!-width-full",
            label: {
              text: "Public key"
            },
            value: data['add-client-static-key']
          }) }}
        {% endset %}

        {% set clientSecretHtml %}
          {{ govukInput({
            id: "add-client-secret",
            name: "add-client-secret",
            spellcheck: false,
            classes: "govuk-!-width-full",
            label: {
              text: "Client secret"
            },
            value: data['add-client-secret']
          }) }}
        {% endset %}

        {{ govukRadios({
          name: "add-client-key-type",
          items: [
            {
              value: "Public key URL (JWKS)",
              text: "Public key URL (JWKS)",
              checked: data['add-client-key-type'] == "Public key URL (JWKS)",
              hint: {
                text: "Recommended. Use private_key_jwt authentication with a JSON Web Key Set endpoint."
              },
              conditional: {
                html: jwksEndpointHtml
              }
            },
            {
              value: "Fixed public key",
              text: "Fixed public key",
              checked: data['add-client-key-type'] == "Fixed public key",
              hint: {
                text: "Use private_key_jwt authentication with a single uploaded public key."
              },
              conditional: {
                html: staticKeyHtml
              }
            },
            {
              value: "Client secret",
              text: "Client secret",
              checked: data['add-client-key-type'] == "Client secret",
              hint: {
                text: "Use client_secret_post authentication."
              },
              conditional: {
                html: clientSecretHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
