{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/create-client-identity-flow/select-levels-of-confidence"method="post">
        {{ govukInput({
          label: {
            text: "Enter landing page URL for your client",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          name: "landingPageUrl",
          value: data['landingPageUrl']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
