{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBreadcrumbs({
    items: [
      { text: "Your services", href: "/services" },
      { text: "Apprenticeship service - Digital certification", href: "/services/apprenticeship-digital-cert" },
      { text: "Create a client" }
    ]
  }) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/create-client-identity-flow/select-scopes" method="post">
        {{
          govukInput({
            label: {
              text: "Add a redirect URL",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint:{
              text: "You need at least one redirect URL for your client to work"
            },
            id: "redirectUrl",
            name: "redirectUrl"
          })
        }}

        {{ govukButton({
          text: "Add",
          classes: "govuk-button--secondary"
        }) }}

        {{ govukTable({
              caption: "Redirect URLs",
              captionClasses: "govuk-table__caption--m",
              head: [],
              rows:  [
                [
                  {
                    html: "test-url.com"
                  },
                  {
                    html:
                      '<a href="/create-client-identity-flow/redirect-urls">Remove</a>'
                  }
                ]
              ]
            })
          }}
          
          {{
            govukButton({
              text: "Continue",
              type: "Submit",
              name: "action",
              value: "continue"
            })
          }}
      </form>
    </div>
  </div>

{% endblock %}
