{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/create-client-identity-flow/redirect-urls" method="post">
        {% if redirectUrls | length > 0 %}
        {{ govukTable({
              caption: "Redirect URLs",
              captionClasses: "govuk-table__caption--m",
              head: [],
              rows:  redirectUrlTableEntries
            })
          }}
          {% endif %}
          {{ govukInput({
            label: {
              text: "Add a redirect URL",
              classes: "govuk-label--l",
              isPageHeading: true
            }, 
            hint:{
              text: "You need at least one redirect URL for your client to work"
            },
            id: "redirectUrl",
            name: "redirectUrl"
          }) }}
          {% if redirectUrls | length > 0 %}
            {{ govukButton({
              text: "Add",
              classes: "govuk-button--secondary"
            }) }}
            {{ govukButton({
              text: "Continue",
              href: "/create-client-identity-flow/select-scopes"
            }) }}
          {% else %}
            {{ govukButton({
              text: "Add"
            }) }}
          {% endif %}
      </form>
    </div>
  </div>

{% endblock %}
