{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/create-client-identity-flow/landing-page-url" method="post">

        {{ govukCheckboxes({
          name: "selectedClaims",
          fieldset: {
            legend: {
              text: "Which claim(s) does your client require?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "core-identity",
              text: "Core Identity",
              checked: true,
              disabled: true
            },
            {
              value: "{assport",
              text: "passport"
            },
            {
              value: "Address",
              text: "Address"
            },
            {
              value: "Driving Permit",
              text: "Driving Permit"
            },
            {
              value: "Return Code",
              text: "Return Code"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
