{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/view-client/edit-all-details-with-sections-validation"method="post">
        {{
          govukInput({
            label: {
              text: "Add a post logout redirect URL",
              classes: "govuk-label--l",
              isPageHeading: true
            }
          })
        }}

        {{ govukButton({
          text: "Add",
          classes: "govuk-button--secondary"
        }) }}

        {{ govukTable({
              caption: "Post Logout Redirect URLs",
              captionClasses: "govuk-table__caption--m",
              head: [],
              rows:  [
                [
                  {
                    html: "test-url.com"
                  },
                  {
                    html:
                      '<a href="/view-client-editable/edit-post-logout-redirect-urls">Remove</a>'
                  }
                ]
              ]
            })
          }}
          
          {{
            govukButton({
              text: "Continue",
              type: "Submit",
              name: "action",
              value: "continue"
            })
          }}
      </form>
    </div>
  </div>

{% endblock %}
