{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{{ super() }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Create a client"
    }
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p>Use this service to create a configuration for your integration client</p>

    <p>Registering takes around 5 minutes.</p>

    {{ govukButton({
      text: "Start now",
      href: "/view-client/view-all-details-with-sections-cards-post-create",
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">
      Before you start
    </h2>

    <p>
      You will need:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>client name</li>
      <li>either a JWKS endpoint url (recommended), public static key, or client secret</li>
      <li>redirect url(s)</li>
      <li>scopes your client requires</li>
    </ul>

  </div>
</div>

{% endblock %}