{% extends "layouts/main.html" %}

{% set pageName = service.name %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: "Prototype" },
    html: 'This is a prototype. Your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
  }) }}
  {{ govukBreadcrumbs({
    items: [
      { text: "Your services", href: "/services" },
      { text: service.name }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {% set activePage = 'clients' %}
      {% include "services/_side-nav.html" %}
    </div>
    <div class="govuk-grid-column-two-thirds">

      {% if success %}
        {{ govukNotificationBanner({
          html: "<p class='govuk-notification-banner__heading'>" + success + "</p>",
          type: "success"
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">{{ service.name }}</h1>

      <h2 class="govuk-heading-m">Production Client</h2>

      {{
        govukSummaryList({
          rows: [
            {
              key: { text: "Status" },
              value: { html: '<strong class="govuk-tag govuk-tag--grey">Not yet created</strong>' }
            }
          ]
        })
      }}

      {{
        govukInsetText({
          text: "You do not have a production client yet. When you have completed testing with an integration client you can request to go live."
        })
      }}

      <h2 class="govuk-heading-m">Integration Clients</h2>

      {{
        govukInsetText({
          text: "You do not have any integration clients yet."
        })
      }}

      {{ govukButton({
        text: "Add a new integration client",
        href: "/create-client-identity-flow/start-page",
        classes: "govuk-button--secondary"
      }) }}

      <p class="govuk-body">
        <a href="/migrate/find-by-email" class="govuk-link">Claim clients from the previous admin tool</a>
      </p>

    </div>
  </div>
{% endblock %}
