{% extends "layouts/main.html" %}

{% set pageName = "Prototype" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

      {{ govukInsetText({
        text: "This is a prototype for user research. It is not a real service."
      }) }}

      <p class="govuk-body"><a href="/rpat-story-maps" class="govuk-link">View story map</a> — user journeys linked to prototype pages.</p>

      <h2 class="govuk-heading-m">Create clients</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a href="/create-client-key-warning/start-page" class="govuk-link">Create client (with warning)</a></li>
        <li><a href="/create-client-key-warning-hint/start-page" class="govuk-link">Create client (with warning as hint)</a></li>
        <li><a href="/create-client-identity-flow/start-page" class="govuk-link">Create client (with identity flow)</a></li>

      </ul>

      <h2 class="govuk-heading-m">View client details</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a href="/view-client/view-all-details-with-sections-cards" class="govuk-link">View client details</a></li>
        <li><a href="/view-client/edit-all-details-with-sections-validation" class="govuk-link">Edit client details (error states)</a></li>
      </ul>

      <h2 class="govuk-heading-m">View all clients (no service/client split)</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a href="/view-all-services/with-cards-header-tags" class="govuk-link">View all clients (header tags)</a></li>
        <li><a href="/view-all-services/with-cards-tags" class="govuk-link">View all clients (field tags)</a></li>
        <li><a href="/view-all-services/with-headers-sections" class="govuk-link">View all clients (sections)</a></li>
      </ul>

      <h2 class="govuk-heading-m">View all services</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a href="/services" class="govuk-link">Your services</a></li>
        <li><a href="/services/apprenticeship-digital-cert" class="govuk-link">Service with int and prod clients</a></li>
        <li><a href="/services/register-trainee-teachers" class="govuk-link">New service (no production client)</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
