{% extends "layouts/main.html" %}

{% set pageName = "Prototype" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

      {{ govukInsetText({
        text: "This is a prototype for user research. It is not a real service."
      }) }}

      <h2 class="govuk-heading-m">Create clients</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a href="/create-client-key-warning/start-page" class="govuk-link">Create client (with warning)</a></li>
        <li><a href="/create-client-key-warning-hint/start-page" class="govuk-link">Create client (with warning as hint)</a></li>
        <li><a href="/create-client-identity-flow/start-page" class="govuk-link">Create client (with identity flow)</a></li>

      </ul>

      <h2 class="govuk-heading-m">View client details</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a href="/view-client/view-all-details-with-sections-cards" class="govuk-link">View client details</a></li>
        <li><a href="/view-client/edit-all-details-with-sections-validation" class="govuk-link">Edit client details (error states)</a></li>
      </ul>

      <h2 class="govuk-heading-m">View all clients (no service/client split)</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a href="/view-all-clients/with-cards-header-tags" class="govuk-link">View all clients (header tags)</a></li>
        <li><a href="/view-all-clients/with-cards-tags" class="govuk-link">View all clients (field tags)</a></li>
        <li><a href="/view-all-clients/with-headers-sections" class="govuk-link">View all clients (sections)</a></li>
      </ul>

      <h2 class="govuk-heading-m">View all services</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a href="/services" class="govuk-link">Your services (returning user/with services)</a></li>
        <li><a href="/new-user/services" class="govuk-link">Your services (new user/without services)</a></li>
      </ul>

      <h2 class="govuk-heading-m">Team members</h2>

      <ul class="govuk-list govuk-list--spaced">
        <li><a href="/services/apprenticeship-digital-cert/team-members" class="govuk-link">Invite another team member</a></li>
        <li><a href="/accept-invite" class="govuk-link">Accept an invite and join service</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
