{% extends "layouts/main.html" %}

{% set pageName = "What is your client ID?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/claim-service/existing"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/claim-service/verify" method="post">

        {{ govukInput({
          label: {
            text: "What is your client ID?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "This is the client ID you were given when you set up your integration through the previous admin interface (also known as SSE). For example, 'RP-1234567890'."
          },
          id: "claim-client-id",
          name: "claim-client-id",
          value: data['claim-client-id'],
          classes: "govuk-input--width-20"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
