{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}


{% block header %}
  {{ govukHeader({
    homepageUrl: "/"
  }) }}
  {{ govukServiceNavigation({
    serviceName: "One Login Admin",
    serviceUrl: "/",
    navigation: [
      {
        href: "/services",
        text: "Your services"
      },
      {
        href: "/not-yet-built",
        text: "Features"
      },
      {
        href: "/not-yet-built",
        text: "Documentation"
      },
      {
        href: "/not-yet-built",
        text: "Support"
      },
      {
        href: "/not-yet-built",
        text: "Your account"
      }
    ]
  }) }}
{% endblock %}




{% block beforeContent %}
{% include "app/views/_includes/phase-banner.html" %}


{% endblock %}


{% block footer %}


{% from "govuk/components/footer/macro.njk" import govukFooter %}


{{ govukFooter({
 navigation: [
   {
     title: "About",
     width: "one-half",
     items: [
       {
         href: "#",
         text: "About how One Login"
       },
       {
         href: "#",
         text: "Documenation"
       },
       {
         href: "#",
         text: "Blog"
       }
     ]
   },
   {
     title: "Support",
     width: "one-half",
     items: [
       {
         href: "#",
         text: "Contact us"
       },
       {
         href: "#",
         text: "Chat to us on Slack"
       },
       {
         href: "#",
         text: "Status page"
       }
     ]
   }
 ],
 meta: {
   items: [
     {
       href: "#",
       text: "Accessibility"
     },
     {
       href: "#",
       text: "Privacy"
     },
     {
       href: "#",
       text: "Cookies"
     }
   ],
   html: 'Built by the <a href="#" class="govuk-footer__link">Government Digital Service</a>'
 }
}) }}


{% endblock %}

